*{
    margin: 0%;
    padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: "Inknut_semibold";
    src: url('/Inknut_Antiqua/InknutAntiqua-SemiBold.ttf');
}

body {
    font-family: 'Inknut Antiqua', serif;
    color: #E4C195;
    background: linear-gradient(to bottom, rgba(9, 29, 13, 1), rgba(225, 195, 158, 1));
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.header{
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    background-color: black;
}

.header__container-logo{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    
}

.header__logo{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    
}

.header__nav{
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 34px;
    align-self: center;
}

.header__home__button{
    background: rgba(9, 29, 13, 1);
    border-width: 2px;
    border-color: rgba(228, 193, 149, 1);;
    width: 142px;
    height: 29px;
    font-family:Inknut Antiqua;
    color:  #E4C195;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.section {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 20px;
    justify-content: space-between;
}

.text-box {
    padding: 20px;
    background-color: hsla(0, 100%, 1%, 0.616);
    width: 40%;
    margin-right: 70px;
    color: white;
}

.section>.image-box>.T{
    border-radius: 100%;
    width: 80%;
    margin-left:200px;
    margin-top: 100px;
}

.Blue_cocktail{
    margin-left: -170px;
    width: 320px;
}

.Orange_cocktail{
    width: 320px;
    height: 100%;
    margin-left: 500px;
    margin-right: 50px;
}

.Titania{
    border-radius: 15%;
    margin-right: 250px;
}

.footer{
    display: flex;
    align-items: start;
    width: 100%;
    height: 148px;
    background-color: black;
}

.footer__left{
    margin-top: 25px;
    background-color: rgb(0, 0, 0);
    height: 148px;
    width: 100%;
    font-family:Inknut Antiqua;
    color:  #E4C195;
    font-size: x-large;
    }

.footer__left>p{
    margin-left: 10%;
    
}    

.footer__right{
    display: flex;
    justify-content: end;
    margin-top: 25px;
    gap: 60px;
    background-color: rgb(0, 0, 0);
    height: 148px;
    width: 100%;
}

.facebook_logo{
    fill: rgb(0, 0, 0);
    width: 80px;
    height: 80px;
    background:rgba(228, 193, 149, 1);
    padding: 15px; 
    border-radius: 100%;
    
}

.footer__right svg {
    margin-right: 20px;
}

.main-content{
    display: flex;
    flex-direction: column;
}